.input{
    width: 90%;
    position: relative;
    display: flex;
    align-items:center;
}
.input-field{
    width: 100%;
    background-color: rgb(154, 194, 246);
    padding: 18px 28px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px 3px gray;
    transition: 0.5s;
}
.input-field:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.4);
    outline: none;
}
input::placeholder{
    color:rgb(49, 49, 49)
}
.btn{
    background-color: rgb(4, 70, 141);
    color: white;
    border-radius: 100%;
    border: none;
    position: absolute;
    font-size: 13   px;
    height: 47px;
    width: 47px;
    right: 0px;
    margin: 9px;
    box-shadow: 3px 3px 3px rgb(31, 31, 31);
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(23, 101, 174);
}
.btn:active{
    transform: scale(0.5);
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
}
.todos{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}
.todos-single{
    display: flex;
    width: 40%;
    background-color: rgb(243, 86, 68);
    color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
.todos-single-text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 18px;
}
.todos-single-text:focus{
    outline: none;
}
.icon{
    margin-top: 6px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.editBox{
    background-color: transparent;
    color: black;
    border: 1px solid rgb(152, 18, 3);
    border-radius: 15px;
}
@media (max-width:1200px) {
    .todos-single{
        width: 40%;
    }
}
@media (max-width:700px) {
    .input{
        width: 90%;
    }
    .todos{
        width: 90%;
    }
    .todos-single{
        width: 100%;
    }
}